{{define "nav"}}
<nav class="p-4">
  <ul class="flex space-x-4 justify-center">
    <li class="hover:bg-gray-700 rounded-md">
      <a
        href="/index"
        hx-get="/index"
        hx-target="#main-content"
        hx-swap="innerHTML"
        class="block px-4 py-2 hover:text-yellow-400"
        >Home</a
      >
    </li>
    <li class="hover:bg-gray-700 rounded-md">
      <a
        href="/about"
        hx-get="/about"
        hx-target="#main-content"
        hx-swap="innerHTML"
        class="block px-4 py-2 hover:text-yellow-400"
        >About</a
      >
    </li>
    <li class="hover:bg-gray-700 rounded-md">
      <a
        href="/contact"
        hx-get="/contact"
        hx-target="#main-content"
        hx-swap="innerHTML"
        class="block px-4 py-2 hover:text-yellow-400"
        >Contact</a
      >
    </li>
    <li class="hover:bg-gray-700 rounded-md">
      <a
        href="/calculate"
        hx-get="/calculate"
        hx-target="#main-content"
        hx-swap="innerHTML"
        class="block px-4 py-2 hover:text-yellow-400"
        >Calculate</a
      >
    </li>
  </ul>
</nav>
{{end}}
